pipeline {
    agent any
    environment{
        AWS_ACCESS_KEY_ID = credentials('')
        AWS_SECRET_ACCESS_KEY = credentials('')
    }

    stages {
        stage('Build') {
            steps {
                echo "stage 1"
                echo 'Building..'
            }
        }
        stage('Test') {
            steps {
                echo "stage 2"
                echo 'Testing..'
            }
        }
        stage('Deploy') {
            steps {
                echo "stage 3"
                sh 'node --version'
                echo 'Deploying....'
            }
        } 
    }
    post{
        success {
            echo 'This will run only if successful'
        }
        failure {
            echo 'This will run only if failed'
        }
    }
}